<!--Inicio da logo-->
<div>
  <nav>
      <a class="logo">Cadastros de times</a>
        <ul class="nav-list">
            <li><a id="index">Home</a></li>
            <li><a id="contato">Contato</a></li>
            <li><a id="login">Login</a></li>
            <li><a id="cadastro">Cadastro</a></li>
        </ul>
  </nav>
</div>

<!--Inicio campo imagem-->
<div>
  <img class="cat" [src]= 'url'>

  <h1 class="">Obrigado pela sua visita...</h1>

  <label>Nome </label>
  <input type= "text" [(ngModel)]= "newMsg.nome"
    name= "nome" #nome= "ngModel" required>

  <label>E-mail </label>
  <input type="email" [(ngModel)]= "newMsg.email"
    name= "email" #email= "ngModel" required>

  <label>Mensagem </label>
  <input type= "text" [(ngModel)]= "newMsg.msg"
    name= "msg" #msg= "ngModel" required>

</div>

<!--Inicio rodape-->
<div class="rodape">
  <a>&copy; Copyright 2022 Estatísticas sobre os times</a>
</div>
<!--Fim rodape-->
