<!--Inicio da logo-->
<div>
    <nav>
        <a class="logo">Cadastros de times</a>
          <ul class="nav-list">
              <li><a id="index">Home</a></li>
              <li><a id="contato">Contato</a></li>
              <li><a id="login">Login</a></li>
              <li><a id="cadastro">Cadastro</a></li>
          </ul>
    </nav>
</div>

<!--Inicio cadastro-->
<div class="cadastro">
  <h1>Cadastro de Times</h1>

  <form #myForm="ngForm" (submit)="saveData(myForm)">
    <div>
      <label>Nome do time:</label>
      <input type="text" [(ngModel)]="cadastroTimes.nomeTime"
        name="nomeTime" #name="ngModel" required
        minlength="3">
    </div>

    <!--validação para o nome do time-->
    <div class="color-error" *ngIf="name.dirty || name.touched">
      <p *ngIf="name.errors?.['required']">
        O campo nome é obrigatório
      </p>
      <p *ngIf="name.errors?.['minlength']">
        O campo nome precisa ter no minimo 3 caracteres
      </p>
    </div>

    <div>
      <label>Estado:</label>
      <input type="text" [(ngModel)]="cadastroTimes.estado"
        name="estado" #email="ngModel" required
        maxlength="2">
    </div>

    <!--validação para o estado-->
    <div class="color-error" *ngIf="name.dirty || name.touched">
      <p *ngIf="name.errors?.['required']">
        O campo é a sigla do estado. Ex: "SP", "RJ", "MG"
      </p>

      <input type="submit" value="Salvar" [disabled]="myForm.invalid">
    </div>
  </form>
</div>

<!--listar os times cadastrados-->
<div class="cadastro">
  <h1>Times cadastrados</h1>
  <ul>
    <li style="list-style: none;" class="lista-times" *ngFor="let times of cadastroTimesList">
    {{ times.nomeTime }}-{{ times.estado }} - {{ times.numeroVotos }}
    </li>
  </ul>
</div>

<!--Inicio rodape-->
<div class="rodape">
   <a>&copy; Copyright 2022 Estatísticas sobre os times</a>
</div>
<!--Fim rodape-->
